<!DOCTYPE html>
<html ng-app="taskApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Task manager. AngularJS version</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/task.css">
    <script src="js/bootstrap.min.js"></script>

    <script src="libs/angular.min.js"></script>
    <script src="js/taskMain.js"></script>
    <script src="js/TaskController.js"></script>

</head>
<body>
<div ng-controller="taskController">

    <ul class="list-unstyled">
        <li ng-repeat="task in tasks" class="hidden-{{task.hidden}}">
            <input type="checkbox" ng-model="task.done">
                <span ng-hide="task.editing" ng-dblclick="editTask(task)" class="done-{{task.done}}">
                    {{task.text}}
                </span>
            <input ng-show="task.editing" ng-model="task.text" ng-blur="doneEditing(task)" autofocus/>

        </li>
    </ul>

    <form class="form-horizontal">
        <input type="text" ng-model="formTodoText" ng-model-instant>
        <button class="btn" ng-click="addTask()"><i class="glyphicon-plus">Add task</i></button>
        <button class="btn" ng-click="deleteTask()"><i>Delete</i></button>
        <button class="btn" ng-click="hideTask()"><i>Hide all</i></button>
    </form>

</div>
</body>
</html>







